@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/*Variables*/
:root {
  --title-color: #FFD700;
  --header_hover_bg: #555555;
  --text-color: #CDAF95;
}

/* Style for the header section */
header {
  background-color: #292929;
  color: var(--title-color);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Style for the navigation menu */
/*nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

nav li {
  margin: 0 10px;
  position: relative;
}

nav a {
  padding: 10px;
  font-size: 18px;
  border: 2px solid var(--title-color);
  color: var(--title-color);
  text-decoration: none;
}

nav a:hover {
  font-weight: bold;
  background-color: var(--header_hover_bg);
}

nav ul ul {
  position: absolute;
  top: 100%;
  left: 0;
  width: 200px;
  display: none;
  background-color: var(--header_hover_bg);
  border: none;
  z-index: 1;
  color: var(--title-color);
}

nav ul li:hover > ul {
  display: inherit;
  background-color: #555555;
}

nav ul ul a {
  display: block;
  padding: 10px;
  color: var(--title-color);
  border: none;
}

nav ul ul a:hover {
  font-weight: bold;
  background-color: #333;
}*/

nav {
  font-size: 18px;
}

header a {
  text-decoration: none;
}

ul.nav_lv1 {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;  
}

ul.nav_lv1 > li {
  margin: 0 10px;
  position: relative;
}

ul.nav_lv1 > li a:hover {
  font-weight: bold;
}

ul.nav_lv2 {
  position: absolute;
  display: none;
  list-style: none;
  padding: 0;
}

ul.nav_lv1 li:hover > ul.nav_lv2 {
  display: block;
  
}




/* Dark theme */
body {
  background-color: #181818;
  color: #fff;
  font-family: "Open Sans", Arial, sans-serif;
}

a {
  color: var(--title-color);
}

a:hover {
  color: var(--title-color);
}

hr {
  border-top-color: #fff;
}

.container {
  background-color: #292929;
  color: #fff;
}

.card {
  background-color: #333;
  color: #fff;
  border: none;
}

.btn {
  background-color: #444;
  color: #fff;
  border: none;
}

.btn:hover {
  background-color: #555;
}

.form-control {
  background-color: #333;
  color: #fff;
  border: none;
}

textarea:focus,
input:focus {
  outline: none;
  box-shadow: none;
}

/*Main*/
main {
  text-align: center;
}

main h1 {
  color: var(--title-color);
}

p {
  color: var(--text-color);
  font-size: 18pt;
  width: 60ch;
  padding: 12px;
  margin: 0 auto;
}