@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/*Variables*/
:root {
  --title-color: #FFD700;
  --header-hover-bg: #E6BE8A;
  --text-color: #CDAF95;
  --header-bg: #292929;
  --visited-link: #CCA300;
}

/* Style for the header section */
header {
  background-color: var(--header-bg);
  color: var(--title-color);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  font-size: 18px;
}

header a {
  text-decoration: none;
}

ul.nav_lv1 {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;  
  font-size: 22px;
}

ul.nav_lv1 > li {
  margin: 0 10px;
  position: relative;
}

header a:hover {
  text-decoration: underline;
  color: var(--header-hover-bg);
}

ul.nav_lv2 {
  position: absolute;
  display: none;
  list-style: none;
  padding: 10px 10px;
  left: -10px;
  background-color: var(--header-bg);
  font-size: 18px;
}

ul.nav_lv1 li:hover > ul.nav_lv2 {
  display: flex;
  flex-direction: column;
}

header li:hover {
  color: var(--header-hover-bg);
}

/* Dark theme */
body {
  background-color: #181818;
  color: #fff;
  font-family: "Open Sans", Arial, sans-serif;
}

a {
  color: var(--title-color);
}

a:hover {
  color: var(--title-color);
}

hr {
  border-top-color: #fff;
}

.container {
  background-color: #292929;
  color: #fff;
}

.card {
  background-color: #333;
  color: #fff;
  border: none;
}

.btn {
  background-color: #444;
  color: #fff;
  border: none;
}

.btn:hover {
  background-color: #555;
}

.form-control {
  background-color: #333;
  color: #fff;
  border: none;
}

textarea:focus,
input:focus {
  outline: none;
  box-shadow: none;
}

/*Main*/
main {
  text-align: center;
}

main h1, h2, h3 {
  color: var(--title-color);
}

.normal_text {
  width: 60ch;
}

p {
  color: var(--text-color);
  font-size: 18pt;
  padding: 12px;
  margin: 0 auto;
}

abbr, abbr:hover {
  pointer-events: none;
  text-decoration: none;
  cursor: inherit;
}

/*Homepage Grid*/
.home-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 10px;
  padding: 10px;
  align-items: center;
  max-width: 1080px;
  display: flex;
  margin: 0 auto;
}

.quote {
  font-size: 24pt;
  max-width: 30ch;
}

/*Video Grid*/
.vid-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 10px;
  align-items: center;
  max-width: 1080px;
  display: flex;
  margin: 0 auto;
}

main {
  color: var(--text-color);
}

main a:hover {
  color: var(--header-hover-bg);
}

main a:visited {
  color: var(--visited-link);
}

a:active {
  font-weight: bold;
}

main li {
  list-style: none;
  align-items: center;
  justify-content: center;
  max-width: 60ch;
  display: flex;
  margin: 0 auto;
  text-indent: 0;
}

ul {
  display: inline-block;
  padding-left:0;
}

dt {
  font-weight: bold;
}

dd {
  list-style: none;
  align-items: center;
  justify-content: center;
  max-width: 60ch;
  display: flex;
  margin: 0 auto;
  text-indent: 0;
}

/*Resume Grid*/
.resume {
  display: grid;
  grid-template-columns: 1fr 2fr; /* 25%, 75% */
  gap: 20px; /* Gap between columns */
  text-align: left;
  word-wrap: break-word; /* or overflow-wrap: break-word; */
}

.resume_column{
  padding: 10px; /* Adding padding for better readability */
}

.resume_column li {
  justify-content: left;
  list-style-type: disc;
}

.resume_list{
  padding: 12px;
}

.resume_list_item {
  list-style: disc;
  list-style-type: disc;
  display:list-item;
}